<html>
    <head>
        <title>Scalatra Test - {{ title }}</title>
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Scalatra Test App</h1>
        
        {{{ body }}}
        
        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>