- attributes("title") = "Scalatra: a tiny, Sinatra-like web framework for Scala"
- attributes("headline") = "Welcome to Scalatra"

p= "Hello, Scalate!"
p
    Would you like to login?  Then go
    a(href="/login") here