- attributes("title") = "Sample App - Login"
- attributes("headline") = "Welcome to Sample App"

h1 Login Form
h2 Hey!
form(method="post")
    label(for="username") Username
    input#username(name="username")
    br
    label(for="password") Password
    input#password(name="password" type="password")
    br
    input(type="submit" value="Log In")
    