<h2>Registration Form</h2>
{{#message}}
<strong>{{message}}</strong>
{{/message}}
<form method="post">
    <label for="username">Username: <input name="username" id="username"></label><br>
    <label for="password">Password: <input name="password" id="password" type="password"></label><br>
    <label for="password_again">Password (again): <input name="password_again" id="password_Again" type="password"></label><br>
    <input type="submit" value="Register">
</form>